* {
  color: black;
}

body {
  font-family: 'Itim', sans-serif;
}

body > header {
  padding-left: 50px;
  font-size: 2rem;
}

body > header > h1 {
  color: #38d2d2;
}

#section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#primary {
  font-size: 1.5rem;
  margin: 10px;
}

#primary-high {
  display: flex;
  justify-content: center;
  align-items: center;
}

#primary-high > h2 {
  margin: 0;
  padding: 10px;
  color: #38d2d2;
}

#refresh {
  margin-right: 10px;
  margin-left: 20px;
  color: #fff;
  padding: 15px 25px;
  background-color: #38d2d2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0 3px 9px rgba(255, 255, 255, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 -8px 36px rgba(0, 0, 0, 0.3), inset 0 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

#secondary {
  margin: 10px;
  font-size: 1.5rem;
  padding: 30px;
}

#form {
  display: grid;
}

#form > h2 {
  margin: 0;
  margin-bottom: 10px;
  color: #38d2d2;
}

#form > input {
  margin: 15px 0;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

#form > button {
  margin: 0;
  margin-top: 10px;
  width: 50%;
  justify-self: end;
  color: #fff;
  padding: 15px 25px;
  background-color: #38d2d2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0 3px 9px rgba(255, 255, 255, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 -8px 36px rgba(0, 0, 0, 0.3), inset 0 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

#primary-low {
  font-size: 1rem;
  border: 2px solid lightblue;
}

#primary-low > ul {
  height: 350px;
  font-size: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0;
  overflow: hidden;
  overflow-y: scroll;
}

#primary-low > ul > li {
  margin: 10px;
  color: #5468ff;
}

#primary-low > ul > li:hover {
  margin: 10px;
  background-color: lightblue;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  cursor: pointer;
}

.footer-content {
  margin: 50px;
  background-color: lightblue;
}
